/* Tablet */
@media only screen and (max-width: 991px) {
  .menu.active{
    display: block;
   }
   .mtavruli-text-main {
    font-size: 100px;
   }
   .pt-tablet{
    padding-top: 100px;
   }
   .resources{
    /*transform: translate(0, 500%);*/
    bottom: 0;
   }
   .resourse-down{
    /*margin-top: 150px;*/
   }
   .text__page-4{
    color: #000000;
   }
   .pt-220 {
    padding-top: 619px;
    padding-left: 300px;
    width: 100%;
   }
   .aso-nishani p{
    width: 100%;
    line-height: 25px;
   }
   .pt-100 {
    padding-top: 250px;
   }
   .pt-250 {
    padding-top: 450px;
   }
   .pt-150 {
    padding-top: 200px;
    padding-left: 50px;
   }

}

/* Mobile */
@media only screen and (max-width: 576px) {
    .animate-1, .animate-2{
    transform: translateY(0);
   }
   .section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8, .section-9, .section-10, .section-11, .section-12{
    height: 100vh;
   }
   .section-3{
    background: none;
   }
   .section-4{
    background-size: contain;
    background-position: top;
   }
   .section-10{
    background-size: contain;
    background-position: bottom;
   }
   .img-unicode{
    margin-left: 0;
  }
  .text-main{
    margin-left: 0;
  }
  .burger{
    margin-right: 0;
  }
  .pt-tablet{
    padding-top: 15px;
   }
   .pi img{
    height: 450px;
   }
  .page-title{
    background-size: contain;
    margin-bottom: 0;
  }
  .pt-220 {
    padding-top: 350px;
    padding-left: 0;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .mtavruli-text-main{
    font-size: 55px;
  }
  .mtavruli-text-main2{
    width: 100%;
    font-size: 12px;
  }
  .page-9-title{
    font-size: 16px;
  }
  .aso-nishani {
    padding-top: 5px;
 }
  .aso-nishani h1{
    font-size: 16px;
    padding-bottom: 10px;
  }
  .aso-nishani p{
    font-size: 12px;
    width: 100%;
    padding-bottom: 10px;
  }
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding: 0 32px;
  }
  .pt-250 {
    padding-top: 170px;
  }
  .icons-dowload{
    display: block;
  }
  .resources {
    /*margin-top: -120px;*/
  }
  .resourse-down {
    /*margin-top: 10px;*/
  }
  .db{
    margin-top: -80px;
  }
  .pt-150 {
    padding-left: 0;
   }
   .aso-nishani p{
    width: 100%;
    line-height: 15px;
   }
   .pt-tablet{
    flex-direction: column-reverse;
   }
   .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    background-image: none;
    padding: 0 5px;
    font-size: 13px;
   }
   .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    padding: 0 5px;
    font-size: 13px;
   }
   .text-main {
    margin-top: 0px;
    }
    .burger{
    margin-top: 15px;
    }
    .bg_mobail{
    background: #fff;  
    }
    .tw{
      color: #181818;
    }
    .pt-100 {
    padding-top: 100px;
    }


}

@media only screen and (max-width: 414px){
    ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding: 0 13px;
  } 
}

@media only screen and (max-width: 375px){
   .pi img{
    height: 400px;
   }
   .pt-250 {
    padding-top: 140px;
   }
   .pt-100{
    /*padding-top: 17px;*/
   }
   .pt-150 {
    padding-top: 30px;
   }
    ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding: 0 11px;
   }
  .pt-220 {
    padding-top: 270px;
   }
}
@media only screen and (max-width: 320px){
   .pt-250 {
    padding-top: 70px;
  }
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    padding: 0 7px;
  }
}

@media only screen and (min-width: 1300px) {
    .db{
        /*margin-top: 0;*/
    }
    .resources{
        /*transform: translate(0, 400%);*/
        bottom: 0
    }
}
@media only screen and (min-width: 1400px) {
    .pt-250{
        padding-top: 200px;
    }
}
@media only screen and (min-width: 1500px) {
    .section-2, .section-3, .section-4, .section-5, .section-9, .section-10, .section-11, .section-12{
        background-size: cover;
    }
    .page__title{
        font-size: 27px;
    }
    .page__text{
        font-size: 16px;
    }
    .text-white{
        font-size: 14px;
    }
    /*.resources{
        transform: translate(0, 180%);
    }*/
    .resourse-down{
        /*margin-top: 0;*/
        /*transform: translate(0, 40%);*/
    }
    .db{
        /*margin-top: 0;*/
        /*transform: translate(0, 10%);*/
    }
}

@media only screen and (min-width: 1600px) {
    .db{
        /*margin-top: 0;*/
        /*transform: translate(0, 15%);*/
    }
    .resources{
        /*transform: translate(0, 350%);*/
    }
}
@media only screen and (min-width: 1700px) {
    .resourse-down{
       /* margin-top: 0;
        transform: translate(0, 190%);*/
    }
    .db{
        /*margin-top: -15px;
        transform: translate(0, 60%);*/
    }
    .bottom-item{
       /*padding-top: 70px*/;
       /*padding-bottom: 100px;*/
    }
    .resources{
        /*transform: translate(0, 430%);*/
    }
}
@media only screen and (min-width: 1800px) {
    .resources{
        /*transform: translate(0, 500%);*/
    }
@media only screen and (min-width: 2000px) {
    .page__title{
        /*font-size: 50px;*/
    }
    .page__text{
        /*font-size: 25px;*/
    }
    .text-white{
        /*font-size: 20px;*/
    }
     .resources{
        /*transform: translate(0, 470%);*/
    }
    .resourse-down{
        /*margin-top: 0;*/
        /*transform: translate(0, 250%);*/
    }
}
@media only screen and (min-width: 2200px) {
    .db{
        /*margin-top: -25px;*/
        /*transform: translate(0, 70%);*/
    }
    .bottom-item{
       /*padding-top: 70px*/;
       /*padding-bottom: 150px;*/
    }
    .resources{
        /*transform: translate(0, 550%);*/
    }
     .resourse-down{
        margin-top: 0;
        /*transform: translate(0, 280%);*/
    }
}
@media only screen and (min-width: 2300px) {
    .db{
        /*margin-top: 40px;*/
        /*transform: translate(0, 100%);*/
    }
    .bottom-item{
       /*padding-top: 70px*/;
       /*padding-bottom: 150px;*/
    }
    .resources{
        /*transform: translate(0, 700%);*/
    }
     .resourse-down{
        /*margin-top: 0;*/
        /*transform: translate(0, 475%);*/
    }
}

